.v1h-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: lighter;

}

.v1h-h1 {
    font-weight: bolder;
}

.v1h-parambox {
    padding: 10px;
    background-color: chartreuse;
    height: 42px;
}

.v1h-list-header {
    font-weight: bolder; 
    padding: 7px; 
    background-color: lavender
}

.v1h-list-button-reload {
    float: right;
    width: 100px;
    height: 22px;
    margin-top: 10px;
    margin-right: 10px;
}

.v1h-list {
    list-style-type:none; 
    line-height:1.5
}
.v1h-list-box {
    margin-top: 1em;
}

.v1h-list-box-odd {
    background-color: whitesmoke
}

.v1h-list-box-even {
    background-color: ghostwhite
}

.v1h-list-item {
    text-decoration: none;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: #265301;
  }
  
  a:visited {
    color: #437A16;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
  }
  
  a:hover {
    border-bottom: 1px solid;     
    background: #CDFEAA;
  }
  
  a:active {
    background: #265301;
    color: #CDFEAA;
  }

.v1h-scope-section {
    float:left; 
    margin-right:30px;
}

select, label {
    display:block;
}

